<nav class="navbar navbar-expand-lg" style="background-color: #3d3936;">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/registration']" style="color:white;">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" [routerLink]="['/login']" style="color:white;">Login</a>
        <a class="nav-link active" [routerLink]="['/about']" style="color:white;">About</a>
        <a class="nav-link active" [routerLink]="['/quiz']" style="color:white;">Proceed to Test</a>
        
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

